* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --accent-font: 'Anton', sans-serif;
}

.brand-font {font-family: var(--accent-font);}

.controls {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borough-btn {
    margin: 1em;
}

.complaint-desc .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 750px) {
    .brand-logo {
        margin-left: 2.5em;
    }
}